<div id="background-container" data-controller="typed">
  <p data-typed-target="animation"></p>
  <p data-typed-target="animation2"></p>
  <a href="#sec-2">
        <div class="scroll-down"></div>
  </a>
</div>
